.header-top {
  height: 50px;
  box-shadow: 0px 1px 5px rgba(9, 9, 8, 0.73);
  background-color: white;
}

.header-top .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-top__language {
  align-self: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header-top__language-flag {
  margin-right: 10px;
  width: 30px;
  height: 22px;
  filter: grayscale(100%);
  box-shadow: 0px 0px 1px rgba(9, 9, 8, 0.73);
  transition: filter 0.5s ease-in-out;
}

.header-top__language-flag:hover,
.header-top__language-flag-active {
  filter: grayscale(0);
  box-shadow: 0px 0px 5px rgba(9, 9, 8, 0.73);
}

.header-top__language-flag:active {
  box-shadow: 0px 0px 10px rgba(9, 9, 8, 0.73);
}

.header-top__language-flag:last-child {
  margin-right: 0;
}

.header-top__website {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header-top__website-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  cursor: pointer;
  flex-basis: auto;
  display: flex;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: 'RobotoRegular';
  color: black;
}

.header-top__website-link:hover {
  color: #f22;
  border-bottom: 2px solid #f22;
}

.header-top__website-link:active {
  font-weight: bold;
}
