.menu {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 5px rgba(9, 9, 8, 0.73);
  background-color: white;
}

.menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu__item {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-bottom: 2px solid white;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu__item:hover {
  color: #f22;
  border-bottom: 2px solid #f22;
}

.active,
.active:hover {
  color: #f22;
  border-bottom: 2px solid #f22;
}

.fixed {
  width: 100%;
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 20;
}

.fixed:hover {
  opacity: 1;
}

.menu__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  outline: none;
  background-color: white;
  background-image: url('../../img/menu-button.svg');
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #f22;
  right: 10px;
  display: none;
}

.menu__button-up {
  transform: rotate(0deg);
}

.menu__button-down {
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .menu__item {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .menu__button {
    display: block;
  }

  .menu ul {
    padding-top: 0px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: none;
  }

  .menu__item {
    text-align: center;
    font-size: 13px;
  }

  .menu .menu-open {
    display: flex;
  }

  .menu .menu-close {
    display: none;
  }

  .fixed {
    opacity: 1;
  }
}
