.document-preview {
  position: relative;
  background-color: rgba(37, 36, 36, 0.83);
  z-index: 1000;
}

.document-preview .buttons {
  top: 10px;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.document-preview .close,
.document-preview .scale {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: black;
  outline: none;
  border-radius: 6px;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.document-preview .close {
  background-image: url('../../img/close.svg');
  order: 2;
}

.document-preview .scale {
  background-image: url('../../img/magnifier.svg');
  margin-right: 5px;
}

.document-preview .close:hover {
  background-color: white;
  background-image: url('../../img/close-red.svg');
}

.document-preview .scale:hover {
  background-color: white;
  background-image: url('../../img/magnifier-red.svg');
}

.document-preview .popup {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid black;
}

.document-preview .triangle {
  position: absolute;
  left: 15px;
  top: -6px;
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(45deg);
  background-color: white;
  box-sizing: border-box;
}

.document-preview .triangle-red {
  background-color: #f22;
}

.document-preview .popup ul {
  list-style-type: none;
  font-size: 16px;
  background-color: white;
}

.document-preview .popup li {
  padding: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.document-preview .popup .active {
  background-color: #f22;
  color: white;
}

.document-preview .popup li:last-child {
  border-bottom: none;
}

.document-preview .popup li:hover {
  color: #f22;
}

@media (min-width: 1441px) {
  .document-preview .close,
  .document-preview .scale {
    width: 50px;
    height: 50px;
  }

  .document-preview .popup {
    top: 50px;
  }
}

@media (max-width: 768px) {
  .document-preview .buttons {
    flex-direction: column;
  }

  .document-preview .scale,
  .document-preview .close {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  .document-preview .close {
    margin-bottom: 4px;
    order: 0;
  }
}
