.library {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.library__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.library__content {
  margin-top: 35px;
}

.library__part ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.library__part li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.library__part-title {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 73%;
  line-height: 150%;
}

.library__article-title {
  margin: 0;
  margin-top: 20px;
  padding: 10px 5px 10px 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 63.3%;
  line-height: 150%;
  text-decoration: none;
  color: black;
  border: 1px solid #fafafa;
  border-left: 3px solid #fafafa;
  border-radius: 4px;
}

.library__article-title:first-child {
  margin-top: 10px;
}


.library__article-title .number {
  font-weight: lighter;
  margin-right: 10px;
}

.library__article-title .text {
  font-weight: bold;
}

.library__article-title:hover {
  border: 1px solid #f22;
  border-left: 3px solid #f22;
  border-radius: 4px;
  color: #f22;
}

.library__part strong {
  margin: 0;
  margin-right: 5px;
  font-size: 100%;
  font-weight: bold;
  line-height: 150%;
}

.library__article-author,
.library__article-description,
.library__article-source {
  margin: 0;
  font-size: 89.4%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.library__article-source a {
  color: red;
  text-decoration: none;
  margin-left: 10px;
}

.library__article-source a:hover {
  text-decoration: underline;
}

.library__article-author {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .library {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .library {
    font-size: 20px;
  }

  .library__article-title {
    margin-top: 5px;
    border: 1px solid black;
    border-left: 3px solid black;
  }

  .library__part-title {
    margin-top: 5px;
  }

  .library__article-title:hover {
    color: black;
    border: 1px solid black;
    border-left: 3px solid black;
  }
}
