.links {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.links__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.links__content {
  margin-top: 35px;
}

.links__part ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.links__part li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.links__part-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 73%;
  line-height: 28px;
}

.links__article-title {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 63.3%;
  line-height: 28px;
  text-decoration: none;
  color: black;
  border: 1px solid #fafafa;
  border-left: 3px solid #fafafa;
  border-radius: 4px;
}

.links__article-title .number {
  font-weight: lighter;
  margin-right: 10px;
}

.links__article-title .text {
  font-weight: bold;
}

.links__article-title:hover {
  border: 1px solid #f22;
  border-left: 3px solid #f22;
  border-radius: 4px;
  color: #f22;
}

.links__part strong {
  margin: 0;
  margin-right: 5px;
  font-size: 100%;
  font-weight: bold;
  line-height: 25px;
}

.links__article-manager,
.links__article-description {
  margin: 0;
  font-size: 89.4%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 25px;
}

.links__article-description {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .links {
    font-size: 26px;
  }
}

@media (max-width: 550px) {
  .links {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .links {
    font-size: 22px;
  }
}
