.resume {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.resume__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.resume__table {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid black;
}

.resume__table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 100%;
}

.resume__table-row:last-child {
  border: none;
}

.resume__table-cell {
  padding: 10px;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.resume__table-row .content .content-cell-part {
  margin-bottom: 5px;
}

.resume__table-row .content .content-cell-part strong {
  margin-right: 5px;
}

.resume__table-row .content .content-cell-part .subcell {
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
  padding: 0;
  list-style-type: none;
}

.subcell li {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  position: relative;
}

.subcell li span {
  font-weight: lighter;
  font-size: 100%;
  margin-right: 5px;
}

.table__link {
  font-size: 100%;
  color: black;
  text-decoration: none;
}

.table__link:hover {
  font-size: 100%;
  color: #f22;
  cursor: pointer;
}

.table__link:active {
  font-weight: bold;
}

.subcell li:last-child {
  margin: 0;
}

.resume__table-row .content .content-cell-part:last-child {
  margin: 0;
}

.resume__table-row .content {
  border-left: 1px solid black;
}

.resume__table-row .header {
  width: 45%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  align-self: center;
}

.resume__table-row .extend {
  font-size: 70%;
  font-style: italic;
}

@media (max-width: 800px) {
  .resume {
    font-size: 26px;
  }
}

@media (max-width: 600px), (orientation: landscape) and (max-width: 700px) {
  .resume {
    font-size: 23px;
  }

  .resume__table-row {
    flex-wrap: wrap;
  }

  .resume__table {
    border: none;
  }

  .resume__table-row {
    border: none;
    margin-bottom: 10px;
  }

  .resume__table-row .header {
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    background-color: white;
  }

  .resume__table-row .content {
    border: 1px solid black;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .resume {
    font-size: 22px;
  }
}
