.resume {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}


.resume__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.resume__table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

.resume__table-row {
  margin: 0;
  padding: 0;
}

.resume__table-cell {
  padding: 10px;
  border: 1px solid black;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
}

.resume__table-row .content .content-cell-part {
  margin-bottom: 5px;
}

.resume__table-row .content .content-cell-part:last-child {
  margin: 0;
}

.resume__table-row .header {
  width: 30%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media (max-width: 800px) {
  .resume {
    font-size: 26px;
  }
}

@media (max-width: 550px) {
  .resume {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .resume {
    font-size: 22px;
  }
}
