.search {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'RobotoBold', sans-serif;
  font-size: 30px;
  text-align: center;
}

.search__table-title {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-family: 'RobotoBold', sans-serif;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.search__text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 17px;
  font-family: 'RobotoRegular', sans-serif;
  line-height: 25px;
}

.search__table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.search__table-cell {
  padding: 10px;
  border: 1px solid black;
  font-size: 17px;
  font-family: 'RobotoRegular', sans-serif;
  line-height: 25px;
}

.search__table .title {
  margin-top: 25px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'RobotoBold', sans-serif;
  font-size: 19px;
  line-height: 28px;
  width: 50%;
  text-align: center;
}

.search__table .logo {
  width: 12.5%;
}

.search__table .logo:hover {
  filter: drop-shadow(0px 0px 5px black);
}

.search__table .logo:active {
  filter: drop-shadow(0px 0px 10px black);
}

.search__table-logo-0 {
  cursor: pointer;
  background-image: url('../img/google-logo.svg');
  background-repeat: no-repeat;
  background-position: center 19px;
}

.search__table-logo-1 {
  cursor: pointer;
  background-image: url('../img/yandex-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.search__table-logo-2 {
  cursor: pointer;
  background-image: url('../img/bing-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search__table-logo-3 {
  cursor: pointer;
  background-image: url('../img/meta-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search__table .language {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.search__table .link {
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.search__table .link:hover {
  color: #f22;
}

.search__table .link:active {
  font-weight: bold;
}
