.biography {
  padding-top: 20px;
  padding-bottom: 20px;
}

.biography__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'RobotoBold', sans-serif;
  font-size: 30px;
  text-align: center;
}

.biography__paragraph__title {
  margin-top: 25px;
  font-family: 'RobotoBold', sans-serif;
  font-size: 19px;
  line-height: 28px;
}

.biography__text {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-family: 'RobotoRegular', sans-serif;
  line-height: 25px;
}
