.individual-section {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.individual-section__title {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.individual-section__content {
  margin-top: 20px;
}

.individual-section__content-title {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 63%;
  line-height: 150%;
}

.individual-section__content-list {
  list-style-type: none;
}

.individual-section__content-sublist {
  list-style-type: none;
  padding-left: 35px;
  padding-top: 8px;
  box-sizing: border-box;
  width: 100%;
}

.individual-section__content-list-item,
.individual-section__content-sublist-item {
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  color: black;
  box-sizing: border-box;
  font-size: 56.6%;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #fafafa;
  border-left: 3px solid #fafafa;
  border-radius: 4px;
}

.individual-section__content-list-item-text {
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

/*.individual-section__content-list-item-text:hover,
.individual-section__content-sublist-item:hover {
  border: 1px solid #f22;
  border-left: 3px solid #f22;
  border-radius: 4px;
  color: #f22;
}*/


.individual-section__content-list-item:nth-child(3) {
  padding-bottom: 0;
}

.individual-section__content-sublist-item {
  font-size: 100%;
}

.individual-section__content-list-item-number,
.individual-section__content-sublist-item-number {
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: lighter;
}
