.search {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.search__title {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.search__table-title {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 73.3%;
  line-height: 28px;
  text-align: center;
}

.search__text {
  margin-bottom: 5px;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.search__table {
  margin-top: 20px;
  width: 100%;
}

.search__table-row,
.search__table-head {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-bottom: none;
}

.search__table-body:last-child {
  border-bottom: 1px solid black;
}

.search__table-cell {
  padding: 10px;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  width: 100%;
}

.search__table .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 63%;
  line-height: 28px;
  text-align: center;
}

.search__table-logo-part {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search__table-row .hidden {
  display: none;
}

.search__table-logo {
  border-left: 1px solid black;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 65%;
}

.search__table-logo:hover {
  box-shadow: 0 0 15px #f22;
  background-color: white;
}

.search__table-logo:active {
  box-shadow: 0 0 30px #f22;
}

.search__table-logo-0 {
  background-image: url('../../img/google-logo.svg');
  background-position: center 19px;
}

.search__table-logo-1 {
  background-image: url('../../img/yandex-logo.svg');
}

.search__table-logo-2 {
  background-image: url('../../img/bing-logo.svg');
}

.search__table-logo-3 {
  background-image: url('../../img/meta-logo.svg');
}

.search__table .language {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.search__table-link-part {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search__table-link {
  display: flex;
  width: 100%;
  font-weight: lighter;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  border-left: 1px solid black;
  align-items: center;
  justify-content: center;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.search__table-link:hover {
  color: #f22;
  box-shadow: 0 0 15px #f22;
  font-weight: normal;
  background-color: white;
}

.search__table-link:active {
  font-weight: bold;
  box-shadow: 0 0 30px #f22;
}

@media (max-width: 800px) {
  .search {
    font-size: 26px;
  }

  .search__table-logo-0 {
    background-position: center;
  }
}

@media (max-width: 600px), (orientation: landscape) and (max-width: 700px) {
  .search {
    font-size: 23px;
  }

  .search__table-head {
    display: none;
  }

  .search__table-row {
    flex-wrap: wrap;
    border: none;
    border: 1px solid black;
    border-bottom: none;
  }

  .search__table-row .hidden {
    display: flex;
    height: 35px;
  }

  .search__table-logo {
    border: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-size: 65%;
    z-index: 1;
  }

  .search__table-body {
    margin-top: 20px;
    border-bottom: 1px solid black;
  }

  .search__table-cell {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    z-index: 0;
  }

  .search__table-link  {
    border-top: 1px solid black;
    z-index: 1;
  }

  .search__table-link:first-child,
  .search__table-logo:first-child {
    border-left: none;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
  }

  .search__table-title {
    margin-top: 15px;
  }

  .search__table .language {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .search {
    font-size: 22px;
  }
}
