.search {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.search__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.search__table-title {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 73.3%;
  line-height: 28px;
  text-align: center;
}

.search__text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.search__table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.search__table-cell {
  padding: 10px;
  border: 1px solid black;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.search__table .title {
  margin-top: 25px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 63%;
  line-height: 28px;
  width: 50%;
  text-align: center;
}

.search__table .logo {
  width: 12.5%;
}

.search__table .logo:hover {
  filter: drop-shadow(0px 0px 5px black);
}

.search__table .logo:active {
  filter: drop-shadow(0px 0px 10px black);
}

.search__table-logo-0 {
  cursor: pointer;
  background-image: url('../../img/google-logo.svg');
  background-repeat: no-repeat;
  background-position: center 19px;
}

.search__table-logo-1 {
  cursor: pointer;
  background-image: url('../../img/yandex-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.search__table-logo-2 {
  cursor: pointer;
  background-image: url('../../img/bing-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search__table-logo-3 {
  cursor: pointer;
  background-image: url('../../img/meta-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search__table .language {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.search__table .link {
  font-weight: lighter;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.search__table .link:hover,
.search__table .logo:hover {
  color: #f22;
  font-weight: normal;
  box-shadow: 0px 0px 5px black;
  background-color: white;
}

.search__table .link:active,
.search__table .logo:active {
  font-weight: bold;
}

@media (max-width: 800px) {
  .search {
    font-size: 26px;
  }
}

@media (max-width: 550px) {
  .search {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .search {
    font-size: 22px;
  }
}
