.abstract {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.abstract__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.abstract__content {
  margin-top: 20px;
  padding: 0;
}

.abstract__text {
  margin-top: 30px;
}

.abstract__text-part {
  margin: 0;
  padding: 0;
}

.abstract__content-title,
.abstract__text-part h3 {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 63%;
  line-height: 28px;
}

.abstract__text-part h3 {
  display: inline-block;
}

.abstract__text-part p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 56.6%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.abstract__content-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.abstract__content-menu-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  cursor: pointer;
}

.abstract__content-menu-link {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 56.6%;
  line-height: 25px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #fafafa;
  border-left: 3px solid #fafafa;
  border-radius: 4px;
}

.abstract__content-menu-link span,
.abstract__text-part span {
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: lighter;
}

.abstract__text-part span {
  font-size: 63%;
}

.abstract__text-part .text {
  font-weight: bold;
}

.abstract__content-menu-link:hover {
  border: 1px solid #f22;
  border-left: 3px solid #f22;
  border-radius: 4px;
  color: #f22;
}

.submenu {
  padding-left: 35px;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 800px) {
  .abstract {
    font-size: 26px;
  }
}

@media (max-width: 600px), (orientation: landscape) and (max-width: 700px) {
  .abstract {
    font-size: 23px;
  }
}

@media (max-width: 400px) {
  .abstract {
    font-size: 22px;
  }
}
